.mainContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background-image: linear-gradient(180deg, #618fa9, snow);
}

.innerContainer {
  background-color: coral;
  border-radius: 10px;
  background-color: snow;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 90%;
  padding: 2rem;
  box-shadow: 10px 10px 5px #333;
}

@media (max-width: 520px) {
  .innerContainer {
    padding: 0.5rem;
    width: 95%;
  }
}
