.container {
  position: absolute;
  z-index: 2;
  height: 100vh;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-direction: column;
  margin-left: 2rem;
}

.container span {
  display: flex;
  align-items: center;
}

.text {
  display: none;
}

.homeBtn:hover,
.aboutBtn:hover,
.projectsBtn:hover,
.contactBtn:hover {
  cursor: pointer;
  background-color: rgb(0 31 63);
  color: lightgray;
}

span:hover .text {
  background-color: rgb(0 31 63);
  color: lightgray;
  height: 3rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeBtn,
.aboutBtn,
.projectsBtn,
.contactBtn {
  background-color: lightgray;
  border: 1px solid rgb(0 31 63);
  padding: 0.5rem;
  min-width: 3rem;
  min-height: 3rem;
}

.fa {
  width: 1.5rem;
  height: 1.5rem;
}

.menuButton {
  display: none;
}

@media (max-width: 768px) {
  .container {
    justify-content: flex-start;
    margin-top: 2rem;
  }

  .menuButton {
    display: block;
    background-color: lightgray;
    border: 1px solid rgb(0 31 63);
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
  }
  .menuButton:hover {
    cursor: pointer;
    background-color: rgb(0 31 63);
    color: lightgray;
  }
  .hidden {
    display: none;
  }
}
