.container {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: snow;
}

.imgContainer {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.circle::after {
  content: '';
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  background-color: #618fa9
  ;
}

@keyframes text-animation {
  0% {
    opacity: 0;
  }
  30%,
  100% {
    opacity: 1;
    scale: 1.35;
  }
}

@-webkit-keyframes text-animation {
  0% {
    opacity: 0;
  }
  30%,
  100% {
    opacity: 1;
    scale: 1.35;
  }
}

@-moz-keyframes text-animation {
  0% {
    opacity: 0;
  }
  30%,
  100% {
    opacity: 1;
    scale: 1.35;
  }
}

@-o-keyframes text-animation {
  0% {
    opacity: 0;
  }
  30%,
  100% {
    opacity: 1;
    scale: 1.35;
  }
}
.textContainer {
  transform-origin: top;
  animation: text-animation linear;
  -webkit-animation: text-animation linear;
  -moz-animation: text-animation linear;
  -o-animation: text-animation linear;
  animation-timeline: view();
  animation-range: enter;
  padding: 1rem;
  color: black;
  z-index: 1;
}

@media (max-width: 500px) {
  .textContainer h2 {
    font-size: 1.5rem;
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
  }

  .circle::after {
    border-top-left-radius: 50% 70%;
    border-top-right-radius: 50% 70%;
  }

  @keyframes text-animation {
    0% {
      opacity: 1;
    }
    30%,
    100% {
      opacity: 1;
      scale: 1;
    }
  }
}

@media (max-width: 480px) {
  .textContainer h2 {
    font-size: 1rem;
  }
}
