@import '/global.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Avenir';
}

.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}

.header {
  margin-bottom: 1rem;
}

.image {
  object-fit: contain;
  border-radius: 50%;
}

.profileContainer {
  display: flex;
}

.textContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 1rem;
  padding-right: 2rem;
}

.secondP {
  margin-top: 1rem;
}
