.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0rem;
}

.innerContainer {
  padding: 4rem;
  border: 3px double rgb(0 31 63);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.content {
  display: flex;
}

.imgContainer {
  position: relative;
  width: 375px;
  height: 375px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
  justify-content: space-evenly;
  padding-right: 2rem; */
  /* border: 1px solid rgb(0 31 63); */
}

.leftContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
  justify-content: space-evenly;
  padding-right: 2rem;
}

.resumeButton {
  padding: 10px 20px;
  background-color: rgb(220, 215, 215);
  color: rgb(0 31 63);
  text-decoration: none;
  border: 1px solid rgb(0 31 63);
  cursor: pointer;
  margin-top: 1rem;
}

.resumeButton:hover {
  background-color: rgb(0 31 63);
  color: lightgray;
}

.image {
  object-fit: cover;
 
}

.textContainer {
  min-height: 100%;
  text-decoration: none;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}

.textContainer h1 {
  margin-bottom: 1rem;
  text-decoration: underline;
}

.textContainer h2 {
  font-size: 1.2rem;
}

.textContainer span {
  font-weight: bolder;
}

@media (max-width: 1200px) {
  .container {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .textContainer {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 1050px) {
  .innerContainer {
    max-width: 95%;
  }
  .leftContent{
    padding: 0px;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .resumeButton {
    padding: 10px 20px;
    background-color: rgb(220, 215, 215);
    color: rgb(0 31 63);
    text-decoration: none;
    border: 1px solid rgb(0 31 63);
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .imgContainer {
    max-width: 350px;
    max-height: 350px;
  }
}

@media (max-width: 500px) {
  .imgContainer {
    max-width: 200px;
    max-height: 200px;
  }
}
