.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0rem;
  background-color: #3c4858;

}

.innerContainer {
  padding: 4rem;
  border: 10px double #3c4858;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  background-color: #9f8d8d;
  color: black;
}

.innerContainer h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
}
.animatedHeaders h2,
.animatedHeaders h3,
.animatedHeaders h4 {
  position: relative;
  left: -100%; 
}

.animatedHeaders h2 {
  animation: textAnimation 3s forwards; 
}

.animatedHeaders h3 {
  animation: textAnimation 3s 2s forwards; 
}

.animatedHeaders h4 {
  animation: textAnimation 3s 4s forwards; 
}

@keyframes textAnimation {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

.content {
  display: flex;
  width: 80%;
}

.imgContainer {
  position: relative;
  width: 450px;
  height: 450px;
  overflow: hidden;
}

.leftContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
  justify-content: space-evenly;
  padding-left: 1rem;
  padding-right: 1rem;
}

.resumeButton {
  padding: 10px 20px;
  background-color: rgb(220, 215, 215);
  color: rgb(0 31 63);
  text-decoration: none;
  border: 1px solid rgb(0 31 63);
  cursor: pointer;
  margin-top: 1rem;
}

.resumeButton:hover {
  background-color: rgb(0 31 63);
  color: lightgray;
  border: 1px solid lightgray;
}

.image {
  object-fit: contain;
}

.textContainer {
  overflow: hidden;

  min-height: 100%;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.textContainer p {
  font-family: 'Courier New';
  margin-top: 1rem;
}

.textContainer h2,
.textContainer h3,
.textContainer h4 {
}

.textContainer span {
  font-weight: bolder;
}

@media (max-width: 1200px) {
  .container {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .textContainer {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 1050px) {
  .innerContainer {
    max-width: 95%;
    padding: 0.5rem;
  }
  .leftContent {
    padding: 0px;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .textContainer {
    text-align: center;
    width: 100%;
  }
  .resumeButton {
    padding: 10px 20px;
    background-color: rgb(220, 215, 215);
    color: rgb(0 31 63);
    text-decoration: none;
    border: 1px solid rgb(0 31 63);
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .imgContainer {
    max-width: 350px;
    max-height: 350px;
  }

  .textContainer p {
    margin-top: 5px;
  }
}

@media (max-width: 500px) {
  .imgContainer {
    max-width: 200px;
    max-height: 200px;
  }
  .textContainer p {
    margin-top: 0.25rem;
  }
}
