
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.imgContainer {
  margin-bottom: 3rem;
  position: relative;
  animation: imgAnimation;
  animation-duration: 4s;
  animation-fill-mode: backwards;
  animation-delay: 2s;
}

.textWrapper h1{
  font-size: 2.75rem;
}
.img{
  border: 2px solid white;
}
@keyframes imgAnimation {
  0% {
    top: -600px;
  }
  100% {
    top: 0px;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  animation: textAnimation;
  animation-duration: 4s;
  animation-fill-mode: backwards;
}

@keyframes textAnimation {
  0% {
    top: -600px;
  }
  100% {
    top: 0px;
  }
}

.textWrapper p{
  font-size: 1.5rem;
}