@import "/global.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: snow;
  background-image: url("/cacti2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heroImg {
  object-fit: cover;
  object-position: center;
  z-index: -1;
  background: fixed;
}

.innerContainer {
  padding: 5rem 5rem 5rem 5rem;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img {
  border-radius: 10px;
}

.imgContainer {
  margin-bottom: 1rem;
  position: relative;
}

.textWrapper h1 {
  font-family: "Avenir";
  font-size: 2.75rem;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;

}


.textWrapper p {
  font-size: 1.5rem;
}

@media (max-width: 740px) {
  .innerContainer {
    padding: 1rem 2rem 1rem 2rem;
  }
  .textWrapper {
    font-size: 2rem;
  }

  .img {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 500px) {
  .textWrapper h1 {
    font-size: 2.25rem;
    font-weight: bold;
  }

  .textWrapper p {
    font-size: 1.25rem;
  }

  .innerContainer {
    padding: 1rem 0.5rem 1rem 0.5rem;
  }

}

@media (max-width: 300px) {
  .textWrapper h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  .textWrapper p {
    font-size: 1rem;
    text-align: center;
  }
}
