/* .background {
  background-color: grey;
  width: 90%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85vh;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  height: 100%;
  width: 100%;
}

.slideHidden {
  display: none;
}

.image {
  height: 50%;
  /* width: 100%; */
}

.arrowLeft,
.arrowRight {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  filter: drop-shadow(0px 0px 5px #555);
}

.arrowLeft {
  left: 1rem;
}

.arrowRight {
  right: 1rem;
}

.arrowRight:hover,
.arrowLeft:hover {
  cursor: pointer;
  color: pink;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.inactive {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
  background-color: grey;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  min-height: 100vh;
  width: 90%;
}

.card {
  position: relative;
  perspective: 1000px;
}

.innerCard {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card .innerCard .card:focus .innerCard {
  transform: rotateY(-180deg);
}

.frontCard,
.backCard {
  padding: 1rem;
  box-shadow: 5px 5px 5px grey;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgba(170, 185, 192, 0.3);
  border-radius: 10px;
}

.frontCard:hover,
.backCard:hover {
  box-shadow: 10px 10px 5px #333;
  background-color: rgba(170, 185, 192, 0.4);
  border-radius: 10px;
}

.logoImgContainer {
  height: 4rem;
  width: 4rem;
  position: relative;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.75rem;
}

.logo {
  object-fit: contain;
}

.techContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.backCard {
  background-color: rgba(170, 185, 192, 0.3);
  transform: rotateY(180deg);
  border-radius: 10px;
}

.backCard p {
  text-align: center;
}

.showBack {
  transform: rotateY(-180deg);
}

.imgContainer {
  position: relative;
  height: 275px;
  width: 450px;
}

.img {
  object-fit: contain;
}

.anchor,
.card button {
  text-decoration: none;
  color: rgb(0 31 63);
  border: 2px solid rgb(0 31 63);
  background-color: lightgray;
  height: 2.5rem;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anchor:hover,
.card button:hover {
  background-color: rgb(0 31 63);
  border: 2px solid lightgray;
  color: lightgray;
  cursor: pointer;
}

.anchorContainer {
  display: flex;
  gap: 1rem;
}

@media (max-width: 1200px) {
  .imgContainer {
    width: 350px;
    height: 300px;
  }
}

@media (max-width: 1130px) {
  .imgContainer {
    width: 300px;
    height: 225px;
  }
}

@media (max-width: 1000px) {
  .imgContainer {
    width: 250px;
    height: 200px;
  }
}

@media (max-width: 900) {
  .imgContainer {
    width: 250px;
    height: 175;
  }
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    height: 45vh;
  }

  .imgContainer {
    height: 275px;
    width: 350px;
  }
}

@media (max-width: 700px) {
  .imgContainer {
    width: 250px;
    height: 200px;
  }
}

@media (max-width: 520px) {
  .card {
    height: 40vh;
  }
  .backCard {
    gap: 0.5rem;
    overflow-y: scroll;
  }
  .backCard a,
  .backCard button,
  .frontCard button {
    height: 1.75rem;
  }
  .logoContainer {
    height: 3.5rem;
  }
  .grid {
    padding: 1rem;
    grid-gap: 1rem;
  }
  .imgContainer {
    height: 200px;
    width: 250px;
  }
  .individual {
    height: 250px;
    width: 300px;
  }
  .individual:hover .hiddentContent {
    height: 250px;
    width: 300px;
  }
}

@media (max-width: 450px) {
  .card {
    height: 45vh;
  }
  .imgContainer {
    height: 150px;
    width: 175px;
  }
  .mainContainer {
    padding-bottom: 1.5rem;
  }
}
