.container {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  background-color: antiquewhite;
}

.linkedIn {
  background-color: white;
  border-radius: 5px;
}

.linkedIn:hover,
.anchorContainer:hover {
  cursor: pointer;
}

.anchorContainer {
  display: flex;
  justify-content: center;
  gap: 50px;
  border-radius: 5px;
  width: 100%;
}

