* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
}

body {
  color: rgb(0 31 63);
}


.container {
 
  margin: auto; 
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {

  z-index: 1;
  position: relative;
}

#shadow-host-companion {
  display: none;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir Next Condensed.ttf') format('woff');
}
