* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
}

body {
  // background-color: rgb(37, 67,	60);
  // background-color: rgb(211, 218, 205);
  background-color: snow;
  color: rgb(0 31 63);
}

html {
  // overflow-y: scroll;
  // min-height: 100vh;
  // scroll-snap-type: y proximity;
}

.container {
  // width: 95vw;
  margin: auto;
  padding-left: 10rem;
  padding-right: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  z-index: 1;
  position: relative;

  // height: 100vh;
  // scroll-snap-align: start;
}

#shadow-host-companion {
  display: none;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir Next Condensed.ttf') format('woff');
}
